@import "~styles/config/variables";
@import "~styles/config/mixin";

.btn {
  min-width: 140px;
  text-align: left;
  padding-right: 30px;
  font-size: $font-default;
  color: $luxury-grey;

  &::after {
    position: absolute;
    right: 9px;
    top: 16px;
  }
}

.dropdownContainer {
  padding: 0;
}

.show {
  display: block;
}

.default {
  background-color: white;
  border: 1px solid $lightwhite;
}

.dropdownItem {
  border-bottom: 1px solid $lightwhite;
  padding: 10px;
}
