.ui {
  .menu {
    .item {
      color: white !important;
      &:first-child {
        padding-left: 0 !important;
      }
    }
    .right {
      &.item {
        position: relative !important;
        top: 3px;
      }
    }
  }
}
