// Sizing
$font-default: 90% !default;

// Font colours
$primary-color: #3c515b !default;
$secondary-color: #f16363 !default;

$white: #fafafa !default;
$bluelight: lighten($primary-color, 65) !default;
