// Brand colours
$blue: #0090D9 !default;
$white: white !default;
$lightwhite: #E2E2E2 !default;
$grey: #CBCBCB !default;
$black: #333333 !default;
$darkblue: #10174D !default;
$green: #C3E6CB !default;
$luxury-grey: #515151 !default;
$red: #CA001A !default;
// Sizing
$font-default: 90% !default;

// Font colours
$font-green: darken($green, 50) !default;

// Borders colours
$border-green: lighten($green, 0.5) !default;

// Background colours
$background-green: lighten($green, 10) !default;

/**
* Checkbox
*/
$checkbox-checked-background-color: $blue;
$checkbox-checked-border-color: $blue;
$checkbox-checked-icon-color: $white;
$checkbox-unchecked-border-color: lighten(grey, 30);
