@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.container {
  width: 100%;
  border-top: 1px solid $gray-50;
  border-left: 1px solid $gray-50;
  border-right: 1px solid $gray-50;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  .title {
    line-height: 2.5rem;
    color: $primary;
  }
}
