@import "~styles/config/variables";

.container {
  display: block;
}

.disabled {
  background-color: rgb(241, 241, 241);
  opacity: 0.7;
}

.tableHead {
  font-size: $font-default;
  color: $darkblue;
  font-weight: 300;
}
