@import "../../styles/config/index";

.menu {
  position: relative;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  background: white;
  box-shadow: inset 0 2px 4px rgba(204, 204, 204, 0.21);

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0px;
    top: 0px;
    right: 0;
  }

  li {

    &:first-child {
      border-left: 1px solid #EAEAEA;
    }
  }

  a.item {
    font-family: 'Thonburi';
    font-weight: 400;
    letter-spacing: .2px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    display: block;
    border-right: 1px solid #EAEAEA;
    color: $font-basecolor;

    // &.active {
    //   background-color: $brand-primary-color;
    //   color: white;
    //   margin: -1px;
    // }
    &.active {
      // border: 1px solid $brand-primary-color;
      color: $brand-primary-color;
      // font-weight: bold;
      // margin: -1px;
    }
  }
}
