@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";


.hero {
  @include media-breakpoint-down(sm) {
    padding: 7rem 0rem !important;
  }
  @include media-breakpoint-only(md) {
    padding: 3rem 0rem !important;
  }
  @include media-breakpoint-up(lg) {
    padding: 8rem 0rem !important;
  }
}

.hero-section {
  background-repeat: no-repeat !important;
  background-position: 100% !important;
  background-size: cover !important;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-title {
  color: white;
  font-weight: bold;
  letter-spacing: -1px;
  display: block;
  p {
    display: block;
    @include media-breakpoint-up(md) {
      font-size: $h1-font-size;
      line-height: $headings-line-height;
    }
    @include media-breakpoint-down(md) {
      font-size: $h2-font-size;
      line-height: $headings-line-height;
    }
  }
}

.hero-subtitle {
  color: white;
  font-weight: 300;
  letter-spacing: 1.2;
  p {
    @include media-breakpoint-up(md) {
      font-size: $h4-font-size;
      line-height: $line-height-base;
      font-weight: $lead-font-weight;
    }
    @include media-breakpoint-down(md) {
      font-size: $h5-font-size;
      line-height: $line-height-base;
      font-weight: $lead-font-weight;
    }
  }
}
