@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.hero-section {
  background-repeat: no-repeat !important;
  background-position: 100% !important;
  background-size: cover !important;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-section-text {
  color: $white;
}

.hero-title {
  color: white;
  font-weight: bold;
  letter-spacing: -1;

  p {
    display: block;
    padding: 0;
    margin: 0;
    @include media-breakpoint-up(md) {
      font-size: $h2-font-size;
      line-height: $headings-line-height;
    }
    @include media-breakpoint-down(md) {
      font-size: $h5-font-size;
      line-height: $headings-line-height;
    }
  }
}

.hero-subtitle {
  color: white;
  font-weight: 300;
  letter-spacing: 1.2;
  margin: 15px 0;;

  p {
    display: block;
    padding: 0;
    margin: 0;
    @include media-breakpoint-up(md) {
      font-size: $h4-font-size;
      line-height: $line-height-base;
      font-weight: $lead-font-weight;
    }
    @include media-breakpoint-down(md) {
      font-size: $h6-font-size;
      line-height: $line-height-base;
      font-weight: $lead-font-weight;
    }
  }
}
