@import "~styles/config/variables";

.alert {
  display: block;
  border-radius: 0px;

  &.info {
    border: 1px solid $lightwhite;
  }
  &.success {
    border: 1px solid $green;
    background-color: $background-green;
    color: $font-green;
    border-color: $border-green;
  }
  &.warning {
    border: 1px solid $lightwhite;
  }
}

.icons {
  &.info {
    color: $darkblue;
  }
  &.success {
    color: $green;
  }
  &.warning {
    color: $red;
  }
}

.label {
  padding-left: 10px;
  &.info {
    color: $darkblue;
  }
  &.success {
    color: $green;
  }
  &.warning {
    color: $red;
  }
}

.headline {
  display: block;
  font-size: 18px;
}

.message {
  margin: 10px auto;
  p {
    display: block;
    line-height: 18px;
    margin: 10px auto;
  }
}
