@font-face {
    font-family: 'Thonburi';
    src: url('/assets/fonts/Thonburi/Thonburi.eot');
    src: url('/assets/fonts/Thonburi/Thonburi.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Thonburi/Thonburi.woff') format('woff'),
        url('/assets/fonts/Thonburi/Thonburi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thonburi';
    src: url('/assets/fonts/Thonburi/Thonburi-Bold.eot');
    src: url('/assets/fonts/Thonburi/Thonburi-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Thonburi/Thonburi-Bold.woff') format('woff'),
        url('/assets/fonts/Thonburi/Thonburi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
