//
// Color system
//
$white:         #FFFFFF !default;
$blue:          #0090D9 !default;
$red:           #CA001A !default;
$green:         #19A53E !default;
$dark:          #414141 !default;

// Grey
$grey:          #CDCDCD !default;
$grey-500:      #333333 !default;

// Color assigned
$primary:       $blue !default;
$secondary:     $white !default;
$success:       $green !default;
$danger:        $red !default;
