@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.floatingbutton {
  position: fixed;
  z-index: 3;
  bottom: 10%;
  right: 5%;

  .icon {
    background: $warning;
    border-radius: 100%;
  }
}
