@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.cardstorycontainer {
  display: block;
  &:hover
  .spanbtn {
    background: $gray-200;
  }
}

.spanbtn {
  @include media-breakpoint-down(md) {
    background: $gray-200;
  }
  padding: 0 6px;
  cursor: pointer;
  display: inline-flex;
  border-radius: 100%;
}

.photo {
  img {
    max-width: 40px !important;
  }
}

.figure {
  width: 100%;
  text-align: center;

  .figureImage {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    // display: flex;
    // flex-wrap: wrap;
    // margin-right: ($grid-gutter-width - 38);
    // margin-left: ($grid-gutter-width - 38);
    figcaption {
      font-size: 100%;
    }
  }
}

.userprofile {
}
