.sliders {
  display: block;

  .nextArrow, .prevArrow {
    z-index: 3000;
    top: 36%;
  }
  .nextArrow {
    &:before {
      display: block;
      content: "";
      border: 3px solid #3c515b;
      height: 20px;
      width: 20px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-left: none;
      border-bottom: none;
    }
  }

  .prevArrow {
    &:before {
      display: block;
      content: "";
      border: 3px solid #3c515b;
      height: 20px;
      width: 20px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-right: none;
      border-top: none;
    }
  }
}
