@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

.card {
  display: block;
}

.innderCard {

}

.cover {
  min-height: 150px;
}

.content {
  top: auto !important;
  padding: 0.5rem !important;
  @include gradient(rgba(177, 177, 177, 0), rgba(0, 0, 0, 0.7));
}

.saveTo {

}

.title {
  font-size: $font-size-base;
  @include media-breakpoint-down(md) {
    font-size: $font-size-sm;
  }
  @include media-breakpoint-only(sm) {
    @include text-truncate();
  }
  &.feature {
    font-size: $font-size-lg;
  }
}

.subtitle {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
