@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.container {
  display: block;

  .logo {

  }

  .bar {
    display: block;
  }

  .navbar {
    background: $primary;

  }
}
