@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: $white;
  overflow: auto;
  border-radius: 0;
  outline: none;
  padding: 0;
  z-index: 999999;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.75);
    z-index: 99999;
  }
}
