@import "../../styles/config/index";

// Branding colours
// $brand-primary-color: #03a87c;
// $brand-primary-bordercolor: #03a87c;

.container {
  &.header {
    box-shadow: 0 2px 4px rgba(204, 204, 204, 0.21);
    padding: 2px 0;
    background-color: $brand-background-color;
  }
}

.menuContainer {
  border-bottom: none !important;
  height: 0px !important;
}
