@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.paging {
  @include media-breakpoint-down(sm) {
    border-top: 1px solid $gray-300;
    position: fixed;
    z-index: 3000;
    bottom: 0;
    background: $white;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    border-radius: 0 !important;
    font-size: $font-size-sm;

    .pageitem {
      display: inherit;
      &:first-child {
        a {
          border-left-width: 0;
        }
      }
    }

    .pagelink {
      border-bottom-width: 0;
      border-right-width: 0;
      border-radius: 0 !important;
      border-top-width: 0;
    }
  }
}
