@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.section {
  @include border-radius($border-radius)
  @include media-breakpoint-down(sm) {
    border-left-width: 0;
    border-right-width: 0;
  }

  border-width: 1px;
  border-style: solid;
  border-color: $gray-300;
  background-color: $white;
  border-bottom-width: $border-width;
  border-radius: 0 0 $border-radius $border-radius;
}
