@import "~styles/config/variables";
@import "~styles/scss/variables";
@import "~styles/scss/mixins";

.title {
  @include hardFont();
}

.jobs {
  margin: 30px auto;
  clear: both;
}

.card {
  padding: 0 !important;
  @include breakpoint(m) {
    padding: 10px !important;
    max-width: 343px;
  }
  @include breakpoint(l) {
    padding: 10px !important;
    max-width: 343px;
  }
}
