@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins";

.title {
  color: $secondary-color;
  .seeall {
    padding-left: 15px;
  }
}

.sections {
  margin: 30px auto;
}

.row {
  @include make-row();
  @include media-breakpoint-down(sm) {
    margin-top: 1.5rem;
  }
}

.cardBody {
  min-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
