@import "~styles/functions";
@import "~styles/variables";
@import "~styles/mixins/breakpoints";
@import "~styles/mixins/fonts";

.title {
  color: $primary-color;
  @include media-breakpoint-up(xs) {
    color: red;
  }
}

.jobs {
  margin: 30px auto;
  // @include containerResizer();
}
