// ==========================================================================
// Base – Assets
// ==========================================================================

// Custom Buttons
.button {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  transition: all 0.3s;
  &:hover, &:active { text-decoration: none; }
  &:hover { background: #f9f9f9; }
}

.btnStyle {
  border: none;
  border-radius: 2px;
  color: white;
  outline: none;
  &:hover {
    text-decoration: none;
  }
  &:active { outline: 0; }
}

.button-transparent {
  border: none;
  background: transparent;
  text-decoration: underline;
  border: 0;
  outline: none;
  background: transparent;
  padding: 0px 10px;
  &:hover { text-decoration: none; }
  &:active { outline: 0; }
}

.button-primary {
  // Add your styles here
  background-color: $brand-primary-color;
  @extend .btnStyle;
  &:hover {
    background-color: darken($brand-primary-color, 10%);
  }
}

.button-secondary {
  // Add your styles here
}

// Button Styled as Link
.button-link {
  color: $base-link-color;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
  &:hover { text-decoration: none; }
  &:active { outline: 0; }
}
